arrow==0.15.4
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
falcon==2.0.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
loguru==0.4.0
mccabe==0.6.1
pylint==2.4.4
pymongo==3.10.0
python-dateutil==2.8.1
redis==3.3.11
requests==2.22.0
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.7
waitress==1.4.1
win32-setctime==1.0.1
wrapt==1.11.2
